header {
	width: 100%
}


body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
p {
	text-indent: 20px;
}
.inline-field input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0; /* I added this after I posted my reply */
  vertical-align: middle; /* Fixes any weird issues in Firefox and IE */
}
.common{
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	overflow: hidden;
	}
	
	.common::before, .common::after{
	content: '';
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	opacity: 0.3;
	top: 0;
	left 0;
	-moz-transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	}
	
	.pic-caption {
	position: absolute;
	text-align: center;
	background: lightyellow;
	z-index: 999;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	top: 50%;
	-webkit-transform: translate3d(-100%, -50%, 0);
	transform: translate3d(-100%, -50%, 0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	line-height: 30px;
	font-size: 16px;
	}
	
	.pic-caption a{
	text-decoration: none;
	}
	
	img {
	display: block;
	}
	
	/* Slidedown Caption */
	.slidedown:hover::before{
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	}
	
	.slidedown:hover .pic-caption{
	opacity: 1;
	-moz-transform: translate3d(0, -50%, 0);
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-moz-transition-delay: 0.5s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
	}